/* General Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styling */
body {
  font-family: system-ui;;
  background-color: #f0e8ed;
  line-height: 1.6;
  padding: 20px;
}

/* Header Styling */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Container */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Personal Information */
.personal-info {
  text-align: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Headings */
h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* List Styling */
ul {
  list-style-type: square;
  padding: 0;
}

li {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Button Styling */
button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #922c2c;
}

/* Experience Section */
.experience-item {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .container {
    width: 95%;
  }

  ul li {
    font-size: 0.9em;
  }
}
